<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Local Library</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                <ul class="sidebar-nav">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'books' %}">All books</a></li>
                    <li><a href="">All authors</a></li>
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-10 ">
                {% block content %}<h1>Title: {{ book.title }}</h1>

                <p><strong>Author:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
                <p><strong>Summary:</strong> {{ book.summary }}</p>
                <p><strong>ISBN:</strong> {{ book.isbn }}</p>
                <p><strong>Language:</strong> {{ book.language }}</p>
                <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>

                <div style="margin-left:20px;margin-top:20px">
                    <h4>Copies</h4>

                    {% for copy in book.bookinstance_set.all %}
                    <hr>
                    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
                        {{ copy.get_status_display }}
                    </p>
                    {% if copy.status != 'a' %}
                    <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
                    {% endif %}
                    <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
                    <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
                    {% endfor %}
                </div>{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>